

<!-- partial:index.partial.html -->
    <div id="contenedor">
      <section>
        <div class="title">
          <h3>Participe de</h3>
          <h1>Bandas</h1>
        </div>
      </section>

      <section>
        <div class="img-1">
          <h2>WAKE</h2>
        </div>
      </section>

      <section>
        <div class="block">
          <p>
            <span class="first-character sc">W</span><b>AKE</b>
           es una banda de rock alternativo formada en el mes de junio de 2011 
           en la ciudad de Turdera, La formación se completa con Victor Pinto (guitarra), 
           Nicolás Macri, Mariano Arnesto (cantantes), Cristian Martinez (batería), 
           Gonzalo Romero (bajo), y Gabriel Pérez (guitarra).<br>
           <b>Historia Comienzos.</b> La Banda surgió en el 2011 en el barrio de Turdera. Victor Pinto 
           con temas propios, se los presenta a  Mariano Arnesto y Gabriel Vidal quienes 
           se habían separado de su banda anterior, Headroom y quisieron formar parte 
           del nuevo proyecto de Victor Pinto llamado Wake.<br>
           Wake comenzó haciendo temas propios y algún cover, pero siempre se enfocó 
           en tener su estilo propio que fue moldeando con el paso del tiempo
           El nombre surgió como referencia a despertarse y seguir adelante (wake/Despertar)
           Primer Disco. Wake termino de editar su primer disco en HDG Estudio de Pablo 
           Priya en la localidad de Burzaco.

          </p>
          <p class="line-break margin-top-10"></p>
          <p class="margin-top-10">
          <b>Cambios en la formación.</b> Los cambios de formación fueron varios en 
          batería el baterista fundador fue Gabriel Vidal, compuso los temas iniciales
          y dejo los tachos para dar lugar a Emma Casa. Luego y por mucho tiempo 
          Cristian Martinez.
          La banda tiene dos cantantes. La primer formación era Juan Bertelemy con 
          Mariano Arnesto, Juan se fue y dio lugar a Mariano Nuñez y cuando Mariano 
          Nuñez se fue entro el ultimo cantante Nicolas Macri a la fecha. La dupla 
          Nico-Mariano es la ganadora para ponerle voz a Wake
          El bajo originalmente fue de Carlos Barrionuevo. Paso al año a Gonzalo 
          Romero luego por Nayla Martinez, Jorge Palavecino para que finalmente 
          quedara Matias Soto con el puesto.
          Las guitarras siempre estuvieron a cargo de Victor Pinto y Gabriel Perez.<br>

          <b>Sonido y Estilo de Wake.</b> Conviven en sus canciones estilos como rap, hardrock, 
          Ñumetal, etc. Sus letras son frontales, de fuerza y realidades y sus guitarras 
          son potentes, en ellas se puede apreciar una columna vertebral al estilo numetal 
          en su timbre y arreglos al estilo hardrock. 

          </p>
        </div>
      </section>

      <section>
        <div class="img-2">
          <h2>HEADROOM</h2>
          <!--<img src="img/wake.jpg" width="100%">-->
        </div>
      </section>

      <section>
        <div class="block">
          <p>
            <span class="first-character ny">H</span><b>EADROOM</b> Todo comenzó en 1997.
             La zona sur del conurbano bonaerense fue testigo de las horas en que 
             Victor Pinto, guitarrista, Gabriel Vidal, baterista y Matias Borek, cantante, 
             pasaban juntos tocando covers en la habitación de Gabriel "gato" como parte 
             del sueño que muchos jóvenes tienen hoy en día: tener la banda propia.
             Un año más tarde y con las mismas ganas se suma Ezequiel "Fonzi" en guitarra,
             pasaría Victor Pinto al bajo y Matias Borek a la guitarra 
             líder, entraría Leonardo Robiano como Dj al estilo "House of Pai",  
             Completaría la banda Mariano Armesto "Pingo", en voz
             líder, luego de probar cantantes Alejandro Gonzales traería la voz melódica 
             a la banda y trayendo la identidad propia a la banda,  luego de un tiempo 
             este ultimo dejaría la banda dejando libre el puesto para que lo tomara el 
             hermano de Matias Borek,  Cristian Borek para sumar la voz definitiva en la 
             banda y quedar completa la banda. 

          </p>
          <p class="line-break margin-top-10"></p>
          <p class="margin-top-10">
            Así se formó HEADROOM, que significa en el mundo del sonido "Máxima tolerancia 
            que soporta el tímpano humano..." (a los oídos de quienes siguen a la banda)
            A partir de aquí, entonces, comienzan a componer acaloradamente y el 30 de 
            Diciembre de 1999 debutan en El Borde de Témperley, junto a El Otro Yo.
            Los años se suceden y la banda sigue explorando, dando forma a lo que es 
            hoy... una de las mejores bandas del circuito Under. A la fecha, participaron 
            como banda invitada de Carajo, Nativo, Cabezones, la mencionada El Otro Yo y 
            Tristemente Célebres. Los HEADROOM que se definen como Rock-Metal 
            (un sonido nuevo dentro del under) por su formación; fusionan tecnologías, 
            efectos especiales, melodías y letras cargadas de un alto contenido emocional.
            Además de brindar un show escénicamente impactante y único por la fuerza de 
            las dos voces, la polenta del bajo, y la batería, y, los solos electrizantes de las dos guitarras, HEADROOM deja un mensaje con cada uno de sus temas
            su primer CD, fue mezclado y masterizado por el Sr. Martín Carrizo - 
            ex baterista de A.N.I.M.A.L. y Cerati.
            Dejando su marca por donde tocan, HEADROOM tiene muy presente que llegaron 
            donde están gracias a su gente, siempre fiel. Es por esto que cada vez más 
            público se suma a la masa que los sigue. En agradecimiento dedican su éxito 
            a sus queridos fans. Solo queda esperar lo que vendrá...

          </p>
        </div>
      </section>

      <section>
        <div class="img-3">
          <h2>SDN</h2>
        </div>
      </section>

      <section>
        <div class="block">
          <p>
            <span class="first-character atw">S</span><b>DN</b> nace a principios del 2005
             en Adrogué, zona sur de Buenos Aires, Argentina. 
             Producto de varios cambios se logra consolidar la formación final; Lucas 
            (Batería), Brian (Guitarra), Víctor (Bajo), “Piru” (Guitarra), Nicolás (Voz) 
             y Mariano (Voz). 
             Entre el Rock y el Metal alternativo moderno, combinado con voces melódicas y 
             rapeadas, nace el estilo de SDN, influenciado por bandas como Linkin Park, 
             Sevendust, Adema, Drowning Pool, etc. 
             A Mediados del 2008 la banda lanza su primer material oficial titulado Renacer, 
             un demo con 5 canciones, producido, mezclado y masterizado por Matías 
             “Munky” en los estudios de Decibel. 
             Este primer Material tuvo muy buena aceptación por parte del público y llevó a 
             realizar varias presentaciones en la escena del under junto a banda como 
             Headroom, T.O.T, Brutal 6, Plan4, Perros Locos, entre otras. 
          </p>
          <p class="line-break margin-top-10"></p>
          <p class="margin-top-10">
            En abril del 2009 lanza su primer EP titulado Miles de Emociones integrados por 
            5 canciones nuevamente grabado y mezclado en los estudios decibel por Matías 
            “Munky” ayudado por Lucas Rosseto, masterizado por Héctor “Bocha”, sonidista 
            de la banda. 
            Este segundo material, al igual que el primero, tuvo gran aceptación por del 
            público haciendo que la banda crezca y pueda empezar a lograr sus propias 
            fechas como cabecera principal y participando en diferentes festivales como el 
            Sur @live y Surfest, tocando con bandas como Pork, Aladelta, Injus Deis, Clay,
            Rencore entre otras y llamando la atención de los medios, tal como lo hizo Diario 
            Popular y el acústico que se realizó para Radio Imagine F.M. 
          </p>
        </div>
      </section>
    </div>
    <!-- partial -->
