<link rel="stylesheet" href="stylesheets/galeria.css">

{{!-- <div class="container">
		<h2 class="text-center">Galeria</h2>
		<div class="lightbox-gallery">
				<div><img src="https://picsum.photos/id/343/300/300" data-image-hd="https://picsum.photos/id/343/600/600" alt=""></div>
				<div><img src="https://picsum.photos/id/112/300/300" data-image-hd="https://picsum.photos/id/112/600/600" alt=""></div>
				<div><img src="https://picsum.photos/id/155/300/300" data-image-hd="https://picsum.photos/id/155/600/600" alt=""></div>
				<div><img src="https://picsum.photos/id/11/300/300" data-image-hd="https://picsum.photos/id/11/600/600" alt=""></div>
				<div><img src="https://picsum.photos/id/434/300/300" data-image-hd="https://picsum.photos/id/434/600/600" alt=""></div>
				<div><img src="https://picsum.photos/id/101/300/300" data-image-hd="https://picsum.photos/id/101/600/600" alt=""></div>
		</div>
	</div>
 --}}
{{!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'> --}}


<div class="container">
  <div class="row">
    <a href="/images/full/full-01.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-1.jpg" class="img-fluid rounded">
    </a>
    <a href="/images/full/full-02.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-2.jpg" class="img-fluid rounded"> {{!-- tienen 600x600 --}}
    </a>
    <a href="/images/full/full-03.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-3.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row">
    <a href="/images/full/full-04.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-4.jpg" class="img-fluid rounded">
    </a>
    <a href="/images/full/full-18.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-18.jpg" class="img-fluid rounded">
    </a>
    <a href="/images/full/full-06.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-6.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row">
    <a href="/images/full/full-07.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-7.jpg" class="img-fluid rounded">
    </a>
    <a href="/images/full/full-08.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-8.jpg" class="img-fluid rounded">
    </a>
    <a href="/images/full/full-09.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-9.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row">
    <a href="/images/full/full-10.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-10.jpg" class="img-fluid rounded">
    </a>
    <a href="/images/full/full-11.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-11.jpg" class="img-fluid rounded">
    </a>
    <a href="/images/full/full-12.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-12.jpg" class="img-fluid rounded">
    </a>
  </div>
  <div class="row">
    <a href="/images/full/full-13.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-13.jpg" class="img-fluid rounded">
    </a>
    <a href="/images/full/full-05.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-5.jpg" class="img-fluid rounded">
    </a>
    <a href="/images/full/full-17.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img src="/images/600/600-17.jpg" class="img-fluid rounded">
    </a>
  </div>
</div>
<br><br><br><br><br><br>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js'>
