<div id="contenedor">
      <section>
        <div class="title">
          <h3>MUSICO</h3>
          <h1>Victor Pinto</h1>
        </div>
      </section>

       <section>
        <div class="img-home">
          <br><br><br><br><br>
        </div>
      </section>

      <section>
        <div class="block">
          <p>
            <span class="first-character sc">V</span><b>ICTOR PINTO</b>, Guitarrista (Wake 2011 - 2019.), bajista (SDN 2005 - 2009 Headroom 1997 - 2004.),
          </p>
          <p class="line-break margin-top-10"></p>
          <p class="margin-top-10">
            The UGG brand began to symbolize those who embraced sport and a
            relaxed, active lifestyle. More than that, an emotional connection
            and a true feeling of love began to grow for UGG boots, just as
            Brian had envisioned. People didn't just like wearing UGG boots,
            they fell in love with them and literally could not take them off.
            By the end of the 90's, celebrities and those in the fashion world
            took notice of the UGG brand. A cultural shift occurred as well -
            people were embracing, and feeling empowered, by living a more
            casual lifestyle and UGG became one of the symbols of this
            lifestyle. By 2000, a love that began on the beaches had become an
            icon of casual style. It was at this time that the love for UGG grew
            in the east, over the Rockies and in Chicago. In 2000, UGG Sheepskin
            boots were first featured on Oprah's Favorite Things® and Oprah
            emphatically declared that she "LOOOOOVES her UGG boots." From that
            point on, the world began to notice.
          </p>
        </div>
      </section>