

    <div id="contenedor">
      <section>
        <div class="title">
          <h3>WAKE - HEADROOM - SDN</h3>
          <h1>Videos</h1>
        </div>
      </section>

      <section>
        <div class="img-1">
          <h2>WAKE</h2>
        </div>
      </section>

      <section>
        <div class="block">
          
            <div class="video-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/jHRpWDun-nM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<br>

<div class="video-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/VikAG80oaDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


        </div>
      </section>

      <section>
        <div class="img-2">
          <h2>HEADROOM</h2>
        </div>
      </section>

      <section>
        <div class="block">
          {{!-- aca va el video --}}
          <div class="video-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/mwLC3f1LEus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<br>

<div class="video-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/pdGT7zPKzG4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<br>

<div class="video-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/tNaXFNMF1dU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
        </div>
      </section>

      <section>
        <div class="img-3">
          <h2>SDN</h2>
        </div>
      </section>

      <section>
        <div class="block">
          {{!-- aca va el video --}}
          <div class="video-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/VMWblo2cwtg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<br>

<div class="video-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/eQdt4Flgc_Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<br>

<div class="video-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/80QSi4Bgf-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

        </div>
      </section>
    </div>